
<div class="container" style="width: 100%; padding-right: 0px;">

	<div class="timesheet-name" style="width: 100%;">
		<div class="no-thick-div"><%= timesheetLabel %></div>
		
		<button id="btn-export-xls-file-id" type="button" class="btn btn-success fileinput-button" style="position: relative; float: right; top: -30px;">
			Esporta in xls
		</button>
		
	</div>

	<ul class="nav nav-tabs">
		<% 	_.each(tabList, function(tab) {
				if (tab.index == tabActive) {
		%>	
					<li class="in active"><a data-id="<%= tab.index %>" href="javascript: void(0);" class="nav-tabs-custom-border fmwkTabHeader"><%= tab.label %></a></li>
		<% 		} 
				else { %>	
					<li><a data-id="<%= tab.index %>" href="javascript: void(0);" class="nav-tabs-custom-border fmwkTabHeader"><%= tab.label %></a></li>
		<% 		} %>
		<% 	}); %>
	</ul>

	<div class="tab-content">
  		<% 	_.each(tabList, function(tab) {
				if (tab.index == tabActive) {
		%>	
					<div id="<%= tab.id %>" data-id="<%= tab.index %>" class="tab-pane fade in active fmwkTabContent">
					</div>
		<% 		} 
				else { %>	
					<div id="<%= tab.id %>" data-id="<%= tab.index %>" class="tab-pane fade fmwkTabContent">
					</div>
		<% 		} %>
		<% 	}); %>
	</div>
	
</div>
