<div class="container" style="width: 100%;">
    
    <div id="flow_title" class="timesheet-name">
    	<%= breadcrum %>
    </div>
    
	<br/>
	
	<table class="table table-striped table-hover external-bordered">
        <thead>
        	<tr class="filter-bar">
				<th>
					<button id="btn-ins-order-id" type="button" class="btn btn-success">
						Ricerca Attivit&agrave;
					</button>
        		</th>
        	</tr>
        </thead>
        <tbody class="searchable">
				<tr id="selected-order-tr-id" data-timesheet-label="" style="display: none;">
					<td id="selected-order-id">
						&nbsp;
					</td>
				</tr>
        </tbody>
    </table>
    
    <br/>  
       
	<table class="table table-striped table-hover external-bordered">
        <thead>
        	<tr class="filter-bar">
				<th>
        			<button id="btn-ins-resource-id" type="button" class="btn btn-success fileinput-button">
						Ricerca Risorsa
					</button>
        		</th>
        	</tr>
        </thead>
        <tbody class="searchable">
				<tr id="selected-resource-tr-id" data-timesheet-label="" style="display: none;">
					<td id="selected-resource-id">
						&nbsp;
					</td>
				</tr>
        </tbody>
    </table>    
    
    <div class="form-group" style="font-weight: bold;">
		<div class="row">
		
			<div class="col-xs-2">
	        </div>
		
        	<div class="col-xs-4">
                Data inizio:
        	</div>
        	       
	        <div class="col-xs-2">
	        </div>
	        
	        <div class="col-xs-4">
				Data fine:
        	</div>
        	    
		</div>
	
		<div class="row" style="font-weight: bold;">
			<div class="col-xs-2">
	        </div>
        	<div class="col-xs-4">
                <div class="input-group date" id="id-datetimepicker-from-date" style="width: 9em;">
                    <input type="text" name="functLogDateFrom" id="functLogDateFromId" readonly="readonly" class="form-control" style="width: 7em; background-color: white;" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </span>
                </div>
        	</div>
	        <div class="col-xs-2">
	        </div>
	        <div class="col-xs-4">
                <div class="input-group date" id="id-datetimepicker-to-date" style="width: 9em;">
                    <input type="text" name="functLogDateTo" id="functLogDateToId" readonly="readonly" class="form-control" style="width: 7em; background-color: white;" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </span>
                </div>
        	</div>
        </div>
    </div>
    
	<br/>
    
    <table id="el-add-schedule-id" class="table table-striped table-hover external-bordered">
        <thead>
        	<tr class="filter-bar">
				<th>
					<button id="btn-ins-schedule-id" type="button" class="btn btn-success" style="">
						Alloca risorsa su attivit&agrave;
					</button>
        		</th>
        	</tr>
        </thead>
<!--         <tbody class="searchable"> -->
<!-- 				<tr id="new-schedule-tr-id" data-timesheet-label="" style="display: none;"> -->
<!-- 					<td id="new-schedule-id"> -->
<!-- 						&nbsp; -->
<!-- 					</td> -->
<!-- 				</tr> -->
<!--         </tbody> -->
    </table>
      
</div>
