<div class="container" style="width: 100%;">
    
    <div id="flow_title" class="timesheet-name">
    	<%= breadcrum %>
    </div>
    
	<br/>

    <div class="form-group">
    
	    <label for="">Codice</label>
	    <input type="text" name="orderCode" class="form-control" id="orderCodeId" placeholder="">
	    <small class="form-text text-muted">Codice commessa o contratto</small>
	    
	    <br/>
	    
	    <label for="customerName">Cliente</label>
	    <input type="text" name="customerName" class="form-control" id="customerNameId" placeholder="">
	    <small class="form-text text-muted">Societ&agrave; Cliente</small>
	    
	    <br/>
	    
	    <label for="orderRefName">Referente</label>
	    <input type="text" name="orderRefName" class="form-control" id="orderRefNameId" placeholder="">
	    <small class="form-text text-muted">Referente presso il cliente</small>
	    
	    <br/>
	    
	    <label for="orderRefEmail">Email Referente</label>
	    <input type="email" name="orderRefEmail" class="form-control" id="orderRefEmailId" placeholder="">
	    <small class="form-text text-muted">E-mail del referente presso il cliente</small>
	    
	    <br/>
	    
	    <label for="orderRefPhone">Telefono Referente</label>
	    <input type="text" name="orderRefPhone" class="form-control" id="orderRefPhoneId" placeholder="">
	    <small class="form-text text-muted">Contatto telefonico del referente presso il cliente</small>
	    
	    <br/>
	    
	    <label for="orderDescr">Descrizione</label>
	    <input type="text" name="orderDescr" class="form-control" id="orderDescrId" placeholder="">
	    <small class="form-text text-muted">Descrizione attivit&agrave; presso il cliente</small>
	    
	    <br/>
	    
	    <label for="orderNote">Note</label>
	    <input type="text" name="orderNote" class="form-control" id="orderNoteId" placeholder="">
	    <small class="form-text text-muted">Note eventuali</small>
	    
	    <br/>
	    <br/>
	    
	    <div class="row">
		
			<div class="col-xs-8">
	        </div>
		
        	<div class="col-xs-4" style="text-align: right;">
			    <button id="btn-add-order-id" type="button" class="btn btn-success">
					Aggiungi Ordine
				</button>
        	</div>
        	       
		</div>
	    
    </div>
    
</div>
