
<div class="container" style="width: 100%;">
    <div id="flow_title" class="timesheet-name">
    	<%= breadcrum %>
    </div>
    <table id="table_flow" class="table table-striped table-hover external-bordered">
        <thead>
            <tr>
				<th>PERIODI</th>
            </tr>
        	<tr class="filter-bar">
				<th>
        			<input name="input-text-search" id="input-text-search" type="text" class="text-search" placeholder="Ricerca nei record..."/>
        		</th>
        	</tr>
        </thead>
        <tbody class="searchable">
            <% 	_.each(rowList, function(element) { %>	
				<tr id="<%= element.id %>" data-timesheet-id="<%= element.id %>" 
							data-timesheet-user-id="<%= element.user.id %>" class="timesheet-elem" data-timesheet-label="<%= element.label %>">
					<td>
						<%= element.label %>
					</td>
				</tr>
			<% 	}); %>
        </tbody>
    </table>    
</div>
