<table id="table_flow" data-id="generic-search-id" class="table table-striped table-hover external-bordered">
	<thead>
		<tr class="filter-bar">
			<th>
				<input name="generic-text-search" id="generic-text-search" type="text" class="text-search" placeholder="Ricerca nei record..."/>
    		</th>
    	</tr>
	</thead>
	<tbody class="searchable">
		<% 	_.each(rowList, function(element) { %>	
			<tr id="<%= element.id %>" data-id="<%= element.id %>" class="search-elem popup-search-elem" data-resource-descr="<%= element.description %>">
				<td>
					<%= element.description %>
				</td>
			</tr>
		<% 	}); %>
	</tbody>
</table>    