<div class="container" style="width: 100%;">

	<div id="flow_title" class="timesheet-name">
		<%= breadcrum %>
	</div>
	   
	<br/>
	
	<table id="table_flow" class="table table-striped table-hover external-bordered">
		<thead>
			<tr class="search-header">
				<th>Risorsa</th>
				<th>Attivit&agrave;</th>
            </tr>
			<tr class="filter-bar">
				<th>
					<input data-column-index="0" type="text" class="filter-text-type" placeholder=""/>
	    		</th>
	    		<th>
					<input data-column-index="1" type="text" class="filter-text-type" placeholder=""/>
	    		</th>
	    	</tr>
		</thead>
		<tbody class="searchable">
			<% 	_.each(rowList, function(element) { %>	
				<tr id="<%= element.id %>" data-id="<%= element.id %>" class="search-elem allocation-search-elem" data-allocation-descr="">
					<td data-column-index="0">
						<%= element.user.description %>
					</td>
					<td data-column-index="1">
						<%= element.activity.description %>
					</td>
				</tr>
			<% 	}); %>
		</tbody>
	</table>
	
</div>
    