<div class="container" style="width: 100%;">

	<div id="flow_title" class="timesheet-name">
		<%= breadcrum %>
	</div>
	   
	<br/>
	
	<table id="table_flow" class="table table-striped table-hover external-bordered">
		<thead>
			<tr class="search-header">
				<th><%= title %></th>
            </tr>
			<tr class="filter-bar">
				<th>
					<input name="generic-text-search" id="generic-text-search" type="text" class="text-search" placeholder="Ricerca nei record..."/>
	    		</th>
	    	</tr>
		</thead>
		<tbody class="searchable">
			<% 	_.each(rowList, function(element) { %>	
				<tr id="<%= element.id %>" data-id="<%= element.id %>" class="search-elem order-search-elem" data-resource-descr="<%= element.name %> <%= element.description %> <%= element.type %>">
					<td>
						<%= element.name %> <%= element.description %> <%= element.type %>
					</td>
				</tr>
			<% 	}); %>
		</tbody>
	</table>
	
</div>
    