
<div id="commandContainer">

	<div style="margin: 0px; padding: 0px; height: 8px;">&nbsp;</div>
	    
	<div id="cmd_MIGRAZIONE" class="cmd_div _show">
	
		<table class="cmd_table table-no-border">
			<tbody>
				<tr>
					<td style="width: 50%">
						<div>
							<% 	_.each(commandList, function(command) {
									if (command.type == 'COMMAND') {
							%>
										<button id="<%= command.id %>" type="button" class="btn btn-primary fmwk-command" data-id="<%= command.id %>" data-type="COMMAND">
											<%= command.label %>
										</button>
							<% 		}
									else if (command.type == 'AUX_COMMAND') { %>
										<button id="<%= command.id %>" type="button" class="btn btn-primary fmwk-command" data-id="<%= command.id %>" data-type="AUX_COMMAND" style="float: right; margin-left: 4px;">
											<%= command.label %>
										</button>
							<% 		
									}
									/*
									else if (command.type == 'XLS_EXPORT_COMMAND') {
										$('#xls-export-id').attr('data-id', command.id);
										$('#xls-export-id').show();
										$('#xls-export-id').text(command.label);
							 		}
							 		*/
							 		%>
							<% 	}); %>
						</div>
				    </td>
				</tr>
			</tbody>
		</table>
		
		<div style="margin: 0px; padding: 0px; height: 2px;">&nbsp;</div>
	
	</div>
	
</div>

<div style="margin: 0px; padding: 0px; height: 6px;">&nbsp;</div>

<div class="table-responsive" style="height: 350px;" id="table-responsive-id">          
	<table id="content-tab-id" class="table table-striped table-hover external-bordered-no-top">
		<thead id="thead-responsive-id" class="thead-responsive">
			<tr class="header-bar">
				<th>
					&nbsp;
				</th>
				<% 	_.each(headLabels, function(hLabel) { %>
					<th>
						<%= hLabel.value %>
					</th>
				<% 	}); %>
			</tr>
		</thead>
		<tbody class="searchable">
			<% 	_.each(tabRows, function(element) { 
					var disabledRun = element.status == 'RUN' ? true : false;
			%>	
				<tr id="<%= element.jobId %>" data-status="<%= element.status %>">
					<% 	
						columnIndex = 0;
						_(element.tRow).each(function(tCell) {
							var valTmp = tCell.value;
							if (tCell.type && tCell.type == 'description') {
					%>
						<td data-column-index="<%= columnIndex %>" data-id="<%= valTmp %>" class="activity-descr">
							<%= valTmp %>
						</td>
					<% 		
							}
							else if (tCell.type && tCell.type == 'readOnly') {
					%>
						<td data-column-index="<%= columnIndex %>" data-id="<%= valTmp %>">
							<input type="text" value="<%= valTmp %>" class="input_hours" maxlength="2">
						</td>
					<% 		
							}
							else {
					%>
						<td data-column-index="<%= columnIndex %>" data-id="<%= valTmp %>">
							<input type="text" value="<%= valTmp %>" class="input_hours" maxlength="2">
						</td>
					<% 		
							}
						columnIndex++;
						}); %>
				</tr>
			<% 	}); %>
			
		</tbody>
	</table>
</div>
