<div class="container" style="width: 100%;">
    
    <div id="flow_title" class="timesheet-name">
    	<%= breadcrum %>
    </div>
    
	<br/>
	
	<table class="table table-striped table-hover external-bordered">
        <thead>
        	<tr class="filter-bar">
				<th>
					ATTIVIT&Agrave;
        		</th>
        	</tr>
        </thead>
        <tbody class="searchable">
				<tr id="selected-order-tr-id" data-timesheet-label="">
					<td id="selected-order-id">
						<%= allocation.activity.description %>
					</td>
				</tr>
        </tbody>
    </table>
    
    <br/>  
       
	<table class="table table-striped table-hover external-bordered">
        <thead>
        	<tr class="filter-bar">
				<th>
					RISORSA
        		</th>
        	</tr>
        </thead>
        <tbody class="searchable">
				<tr id="selected-resource-tr-id" data-timesheet-label="">
					<td id="selected-resource-id">
						<%= allocation.user.description %>
					</td>
				</tr>
        </tbody>
    </table>    
    
    <div class="form-group" style="font-weight: bold;">
		<div class="row">
		
			<div class="col-xs-2">
	        </div>
		
        	<div class="col-xs-4">
                Data inizio:
        	</div>
        	       
	        <div class="col-xs-2">
	        </div>
	        
	        <div class="col-xs-4">
				Data fine:
        	</div>
        	    
		</div>
	
		<div class="row" style="font-weight: bold;">
			<div class="col-xs-2">
	        </div>
        	<div class="col-xs-4">
                <div class="input-group date" id="id-datetimepicker-from-date" style="width: 9em;">
                    <input type="text" name="functLogDateFrom" id="functLogDateFromId" value="<%= allocation.startDate %>"
                    							readonly="readonly" class="form-control" style="width: 7em; background-color: white;" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </span>
                </div>
        	</div>
	        <div class="col-xs-2">
	        </div>
	        <div class="col-xs-4">
                <div class="input-group date" id="id-datetimepicker-to-date" style="width: 9em;">
                    <input type="text" name="functLogDateTo" id="functLogDateToId" value="<%= allocation.endDate %>"
 	                  							readonly="readonly" class="form-control" style="width: 7em; background-color: white;" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </span>
                </div>
        	</div>
        </div>
    </div>
    
	<br/>
    
    <table id="el-add-schedule-id" class="table table-striped table-hover external-bordered">
        <thead>
        	<tr class="filter-bar">
				<th>
					<button id="btn-upd-schedule-id" type="button" class="btn btn-success" style="">
						Modifica Allocazione
					</button>
        		</th>
        	</tr>
        </thead>
    </table>
      
</div>
