<div class="container" style="width: 100%;">
    
    <div id="flow_title" class="timesheet-name">
    	<%= breadcrum %>
    </div>
    
	<br/>

    <div class="form-group">
    
	    <label for="resourceName">Nome</label>
	    <input type="text" name="resourceName" class="form-control" id="resourceNameId" placeholder="" value="<%= resource.firstName %>">
	    <small class="form-text text-muted">Nome risorsa</small>
	    
	    <br/>
	    
	    <label for="resourceSurname">Cognome</label>
	    <input type="text" name="resourceSurname" class="form-control" id="resourceSurnameId" placeholder="" value="<%= resource.lastName %>">
	    <small class="form-text text-muted">Cognome risorsa</small>
	    
	    <br/>
	    
	    <label for="resourceEmail">Email</label>
	    <input type="email" name="resourceEmail" class="form-control" id="resourceEmailId" placeholder="" value="<%= resource.email %>">
	    <small class="form-text text-muted">E-mail aziendale</small>
	    
	    <br/>
	    
	    <label for="resourcePhone">Telefono</label>
	    <input type="text" name="resourcePhone" class="form-control" id="resourcePhoneId" placeholder="" value="<%= resource.phone %>">
	    <small class="form-text text-muted">Contatto telefono cellulare</small>
	    
	    <br/>
	    
	    <label for="resourceCodFisc">Cod. Fisc.</label>
	    <input type="text" name="resourceCodFisc" class="form-control" id="resourceCodFiscId" placeholder="" value="<%= resource.codFisc %>">
	    <small class="form-text text-muted">Codice Fiscale dipendente / P. IVA collaboratore</small>
	    
	    <br/>
	    
	    <label for="resourceAddress">Domicilio</label>
	    <input type="text" name="resourceAddress" class="form-control" id="resourceAddressId" placeholder="" value="<%= resource.address %>">
	    <small class="form-text text-muted">Indirizzo di domicilio / residenza....</small>
	    
	    <br/>
	    <br/>
	    
	    <div class="row">
		
			<div class="col-xs-4" style="text-align: left;">
			    <button id="btn-del-resource-id" type="button" class="btn btn-success">
					Elimina Risorsa
				</button>
        	</div>
		
			<div class="col-xs-4">
	        </div>
		
        	<div class="col-xs-4" style="text-align: right;">
			    <button id="btn-upd-resource-id" type="button" class="btn btn-success">
					Modifica Risorsa
				</button>
        	</div>
        	       
		</div>
	    
    </div>
    
</div>
