body{
    /*width: 100%;*/
    margin: 0 auto;
    /*background: #666;*/
    background: white;
    font: 11px/16px arial,Tahoma,sans-serif;
}


.page_header{
    position: relative;
    background-color: white;
    padding-top: 10px;
    padding-left: 20px;
    margin-bottom: 65px;
}

.imegeHeader{
    float: left;
    height: 60px;
}

.login_table{
    border: 1px solid gainsboro;
    padding: 20px;
    background: gainsboro;
}

.err_msg{
    font: 16px arial,sans-serif ;
    color:red;
    height: 30px;
}

.application_title{
    float: left;
    font: bold 22px arial,sans-serif;
    line-height: 30px;
    margin-left: 20px;
    text-align: center;
    color: gray;
}

#loading_view{
    position:fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;
    width:100%;
    height:100%;
    background-color: transparent;
    opacity: 0.7;
    z-index: 100;
}

.spinner{
    position:fixed;
    top:50%;
    left:50%;
    margin-left: -50px;
    margin-top: -50px;
    text-align: center;
    z-index:1234;
    overflow:auto;
    width:100px;
    height:100px;
}



#sub_header{
    background-color:#F6F6F6; 
    position:relative;
    height: 30px;
    line-height: 30px;
}

.user_box{
    float: right;
    margin-right: 20px;
    font-family: arial, Tahoma, sans-serif;
    font-size: 15px;
    border-right: 2px solid white;
    padding-right: 10px;
}

.main{
    background-color: white;
    position: relative;
    height: 100%;
    /*height: 500px;*/
    /*overflow: auto;*/
}

.menu_column{
    float: left;
    min-width: 20%;
    height: 100%;
}

.container{
    float:left;
    width: 76%;
    padding-left: 1%;

}

._hide{
    display: none;
}


._show{
    display: block;
}

.menu{
    list-style: none;
    margin: 0 0 0 0;
    padding: 0;
}

.lateral_menu{
    position: absolute;
    display:none;
    list-style: none;
    margin: 0 0 0 0;
    padding: 0;
}

li:hover ul, li.over ul { 
    display: inline; 
}


.menu_name{
    background: #EFA31A;
    font: bold 16px arial,sans-serif;
    height: 28px;
    cursor: pointer;
    line-height: 28px;
    color: white;
    text-align: center;
    border:2px solid white;
}

.menu_item_0{
    background: none repeat scroll 0 0 #F4C933;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid white;
    color: white;
    cursor: pointer;
    font: bold 14px/24px arial,sans-serif;
    height: 24px;
    padding-left: 10px;
}

.menu_item_1{
    background: none repeat scroll 0 0 #F3E063;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid white;
    color: white;
    cursor: pointer;
    font: bold 14px arial,sans-serif;
    height: 24px;
    line-height: 24px;
    padding-left: 30px;
    padding-right: 10px;
}

.menu_item_2{
    background: none repeat scroll 0 0 #F6F6F6;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid white;
    cursor: pointer;
    font: 13px arial,sans-serif;
    height: 24px;
    line-height: 24px;
    text-align: right;
    padding-right: 10px;
    color: gray;
    list-style: none;
}

.menu_img{
    width:10px;
    margin-left:10px;
}

.menu_item{
    background: #F6F6F6;
    padding-left: 10px;
    font: bold 14px arial,sans-serif;
    height: 24px;
    cursor: pointer;
    line-height: 24px;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    border-left: 2px solid white;
}

.submenu_item{
    background-color: white;
    margin: 0 0 0 10px;
    padding: 0 5px 0 15px;
    border-top: 1px solid #F6F6F6;
    list-style-position: outside;
    font-size: 14px;
    height: 22px;
    line-height: 22px;
    cursor: pointer;
}

.last_menu_item{
    background-color: white;
    margin: 0 0 0 10px;
    padding: 0 5px 0 75px;
    border-top: 1px solid #F6F6F6;
    list-style-position: outside;
    font-size: 13px;
    height: 20px;
    line-height: 20px;
    cursor: pointer;
}

.title{
    font: bold 20px arial,sans-serif;

}

.create_title{
    font: bold 20px arial,sans-serif;
    padding-top:10px;
    padding-bottom:20px;
}

.polling{
    height: 30px;
    /*line-height: 30px;*/
    padding-top:10px;
    /*margin-bottom:20px;*/
}

.form{
    /*margin-bottom:30px;*/
}

.filter_box{
    text-align: center;
    /*border: 1px solid green;*/
    margin-bottom: 10px;    
}

.label_box{
    text-align: center;
    /*border-bottom: 1px solid green;*/
    height:20px;
    font: bold 14px arial,sans-serif;
    line-height: 20px;
}

.select_box{
    text-align: center;
    height:30px;
    line-height: 30px;
}

.select_filter{
    font: bold 14px arial,sans-serif;
    /*width:150px;*/
}

.buttons_container{
    height: 30px;
    /*margin-bottom:15px;*/
}

.float_left{
    float:left;
}

.float_right{
    float:right;
}

.align_center{
    text-align: center;
}

.popup_title{
    font-family: arial, Tahoma, sans-serif;
    font-size: 15px;
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
}

table.jobs_table thead tr .header {
    /*background-image: url(../img2/sortable.gif);*/
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}

table.jobs_table thead tr .headerSortDown, table.jobs_table thead tr .headerSortUp {
    background-color: #8DBDD8;
}

table.jobs_table thead tr .headerSortUp, table.jobs_table thead tr .headerSortDown {
    background-color: #8DBDD8;
}

table.jobs_table thead tr .headerSortUp {
    /*background-image: url(../img2/asc.gif);*/
}

table.jobs_table thead tr .headerSortDown {
    /*background-image: url(../img2/desc.gif);*/
}

/* #fileUploadContainer{ */
/*     height: 80px; */
/* } */


.migration_jobs_table{
    width:100%;
    border:2px solid #EFA31A; 
    /*margin-bottom:40px;*/
}

table.migration_jobs_table thead tr .header {
    background-image: url(../img2/sortable.gif);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}

table.migration_jobs_table thead tr .headerSortDown, table.migration_jobs_table thead tr .headerSortUp {
    background-color: #8DBDD8;
}

table.migration_jobs_table thead tr .headerSortUp, table.migration_jobs_table thead tr .headerSortDown {
    background-color: #8DBDD8;
}

table.migration_jobs_table thead tr .headerSortUp {
    background-image: url(../img2/asc.gif);
}

table.migration_jobs_table thead tr .headerSortDown {
    background-image: url(../img2/desc.gif);
}

.tableContainer{
    /*overflow-x:auto;
    overflow: scroll;
    height: 250px;*/
}

.table_combo_title{
    margin-top: 5px;
    font-weight: bold;
    color:green;
}

.table_combo_value{
    margin-bottom: 5px;
}

.table_combo_mix{
    margin-top: 5px;
    margin-bottom: 5px;
}

.header_row{
    height: 20px;
}

.header_col{
    text-align: center;
    font: bold 14px arial,sans-serif;
    border-bottom: 2px solid #EFA31A;
    height: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.content_row{

}

.row_disabled{
    background-color: #DADADA;
}


.content_col{
    text-align: center;
    font:  13px arial,sans-serif;
    height: 25px;
    border-bottom: 1px solid #EFA31A;
}

.obsolete_link{
    cursor: default;
    text-decoration: none;
    color: black;
}

.tab_label{
    border-top: 1px solid gray;
    border-bottom: 1px solid black;
    float: left;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    padding: 5px;
    margin-top: 7px;
    font: bold 13px sans-serif gray;
    cursor: pointer;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-top-left-radius: 10px;
    -moz-border-top-right-radius: 10px;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    background-color: #F6F6F6;
    color: gray;
    border-top-left-radius: 10px 10px;
    border-top-right-radius: 10px 10px;
}

.tab_selected{
    border-top: 2px solid black;
    border-bottom: 2px solid white;
    float: left;
    border-left: 2px solid black;
    border-right: 2px solid black;
    padding: 8px;
    margin-top: 0px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-top-left-radius: 10px;
    -moz-border-top-right-radius: 10px;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    background-color: #F6F6F6;
    color: black;
    border-top-left-radius: 10px 10px;
    border-top-right-radius: 10px 10px;

}

.under_tab_bar{
    border-top: 2px solid black;
    margin-top: -4px;
}

/*.cmd_div{
    
    padding-top: 20px;
    padding-bottom: 10px;
}*/

.cmd_div{
    height: 100%;
}

.cmd_table{
    width: 100%;
    padding-top:5px;
    padding-bottom:5px;
}


.cmd_migration_div{
    margin-top: 5px;
    margin-bottom: 5px;
}

.command_act_div{
    float: left;
    /*border: 2px solid green;*/
    padding: 15px;
}

.auxiliari_act_div{
    border: 2px solid green;
    padding: 15px;
    text-align: center;
}

.content_row_migration:hover{ background-color:#F3E063; }



.modal_container{
    border:1px solid gray;
    background-color:white;
    width:900px;
    height:400px;
    vertical-align:middle;
    padding:20px;
    overflow:auto;
    color:black;
}

.modal_container_note {
    border: 1px solid gray;
    background-color: white;
    width: 600px;
    height: 400px;
    vertical-align: middle;
    padding: 20px;
    overflow: auto;
    color: black;
}

.button_close_container{
    height: 15px;
    margin-bottom: 20px;
}

.job_detail_table{
    /*border:none;
    margin-bottom:40px;
    width: 99%;*/
    width: 99%;
    border: 2px solid #EFA31A;
}

.job_detail_row{

}

.job_detail_name{
    /*border: 2px solid #EFA31A;
    font: bold 16px arial,sans-serif;
    text-align: right;
    text-align: center;*/
    padding-left: 10px;
    font:  bold 16px arial,sans-serif;
    height: 25px;
    border-bottom: 1px solid #EFA31A;
}

.job_detail_value{
    /*border: 2px solid #F4C933;
    font: 16px arial,sans-serif;*/
    font:  16px arial,sans-serif;
    height: 25px;
    border-bottom: 1px solid #EFA31A;

}



.detail_col_name{
    text-align: center;
    font:  15px arial,sans-serif;
    font-weight: bold;
    height: 25px;
    padding:20px;

}

.detail_col_value{
    padding:20px;
}

.logs_filter_table{
    width: 90%;
    margin:25px;
}

.log_search_line{
    height: 50px;
}

.logs_label_cell{
    font:  15px arial,sans-serif;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
}
.logs_filter_cell{
    height: 20px;
    line-height: 20px;
}
.logs_submit_cell{
    text-align: center;
    height: 80px;
}

.flows_list_container{
    margin-top:10px;
}
.flow_list_title{
    font: bold 22px arial,sans-serif;
    line-height: 30px;
    color: black;
}

.flow_list{
    /*list-style-type: octal;*/
    font: bold 16px arial,sans-serif;
    width: 90%;
    margin-top: 20px;
    margin-left: 20px;
}

.flow_list_row{
    height: 30px;
    line-height: 30px;

}

.flow_list_cell{

}

.flow_list_elem{
    height: 30px;
    line-height: 30px;
}

.audit_rail_img{
    height: 20px;
    margin-left: 10px
}

.audit_rail_table{
    /*border:none;
    margin-bottom:40px;
    width: 99%*/
    width: 100%;
    border: 2px solid #EFA31A;    
}

.audit_rail_row{

}

.audit_rail_header{
    border: 2px solid #EFA31A;
    font: bold 16px arial,sans-serif;
    text-align: center;
}

.audit_rail_value{
    /*border: 2px solid #F4C933;
    font: 16px arial,sans-serif;*/
    text-align: center;
    font:  13px arial,sans-serif;
    height: 25px;
    border-bottom: 1px solid #EFA31A;  

}

.flow_list_table{
    /*border:none;
    margin-bottom:40px;
    width: 99%;*/
    width: 100%;
    border: 2px solid #EFA31A;
}

.flow_list_header{
    border: 2px solid #EFA31A;
    font: bold 16px arial,sans-serif;
    text-align: center;
}

.flow_list_cell{
    border: 2px solid #F4C933;
    font: 16px arial,sans-serif;
}

.flow_list_row{
    cursor: pointer;
}

.flow_list_row:hover{ background-color:#F3E063; }


.jobs_table{
    width:100%;
    border:2px solid #EFA31A; 
    /*margin-bottom:40px;*/
    /*table-layout:fixed*/
}

.header_load{
    height: 20px;
}

.header_load_cell{
    text-align: center;
    font: bold 14px arial,sans-serif;
    border-bottom: 2px solid #EFA31A;
    white-space:nowrap;
    height: 30px;
    padding-left: 20px;
    padding-right: 20px;
    /*width:70px;
    
    height: 30px;
    padding-left: 20px;
    padding-right: 20px;
    white-space:nowrap;*/
}

.header_load_check{
    text-align: center;
    font: bold 14px arial,sans-serif;
    border-bottom: 2px solid #EFA31A;
    width: 30px;
}

.table_load_cell_check{
    text-align: center;
    font:  13px arial,sans-serif;
    width:30px;
    border-bottom: 1px solid #EFA31A;
    overflow:hidden;white-space:nowrap; 
}

.table_load_cell {
    text-align: center;
    font:  13px arial,sans-serif;
    border-bottom: 1px solid #EFA31A;
    overflow:hidden;
    white-space:nowrap; 
}

.table_load_cell_not_loadable {
    text-align: center;
    font:  13px arial,sans-serif;
    border-bottom: 1px solid #EFA31A;
    overflow:hidden;white-space:nowrap; 
    background-color: aliceblue;
}

/*.table_load_cell:hover .table_load_row{
    white-space:nowrap;
    padding-left: 5px;
    padding-right: 5px;
}*/
.jobs_table td:hover {
    /*text-decoration: underline;
    color: cornflowerblue;
    font:  bold 13px arial,sans-serif;*/
}


#simplemodal-container a.modalCloseImg {
    background:url(../img2/delete.png) no-repeat; /* adjust url as required */
    width:40px;
    height:40px;
    display:inline;
    z-index:3200;
    position:absolute;
    top:-18px;
    right:-18px;
    cursor:pointer;
}

.select_all_title {
    font-size: 14px;
    padding-right: 15px;
    font-weight: bold;
}

.select_all_elem {
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid gray;
    padding-top: 3px;
    cursor: pointer;
}

.select_all_box {
    margin-top: 2px;
    float:left;
    margin-right: 25px;
}
.deselect_all_box {
    margin-top: 2px;
}

.errorMsg {
    font: bold 22px arial,sans-serif;
    line-height: 30px;
    margin-left: 20px;
    text-align: center;
    color: red;
    margin-top: 10px;
}

#upload_container{
    float: left;
    width: 50%;
    height: 75px;
}

.text_label{
    font: bold 15px arial,sans-serif;
}

.div_submit{
    margin-top:10px;
}

.disabled{
    display: none;
}

#load_container{
    text-align: center;
    float: left;
    width: 50%;
    height: 75px;
    line-height: 75px;
}

table thead tr.tablesorter-filter input { 
    width: 95%; 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box; 
} 
table thead tr.filters, table thead tr.tablesorter-filter td { 
    text-align: center; 
    background-color: #F6F6F6;
    border-bottom: 2px solid #EFA31A;
    padding-top: 3px;
    padding-bottom:3px;
} 
/* optional disabled input styling */ 
table.tablesorter thead tr.tablesorter-filter input.disabled { 
    opacity: 0.5; 
    filter: alpha(opacity=50); 
}


/*#table_to_migrate{
    overflow: scroll;
    height: 50px;
}

#table_migrated{
    overflow: scroll;
    height: 50px;
}*/

#cluster_cmd_container{
    text-align: right;
    padding-bottom: 10px;
    padding-top: 10px;
}

/* way the hell off screen */
.scrollbar-measure {
	width: 100px;
	height: 100px;
	overflow: scroll;
	position: absolute;
	top: -9999px;
}

/* ***************************************** */

.wrap_image_center {
    display: table;
    border: 0px;
}
.wrap_image_center img {
    display: table-cell;
    vertical-align: middle;
}


/***   spinner per il loading della pagina ***/

#my-modal-loading-spinner {
/* 	display: none; */
/* 	position: absolute; */
/* 	z-index: 2000000000; */
	
	position: fixed;
    z-index: 11111111;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
/*     background: #F2F5F5; */
    background: rgba(188,188,188,0.3);
}

#floatingCirclesG{
	position:relative;
	width:125px;
	height:125px;
	margin:auto;
	
	top: 40%;
/*     left: 50%; */
	
	transform:scale(0.6);
		-o-transform:scale(0.6);
		-ms-transform:scale(0.6);
		-webkit-transform:scale(0.6);
		-moz-transform:scale(0.6);
}

.f_circleG{
	position:absolute;
	background-color:rgb(255,255,255);
	height:22px;
	width:22px;
	border-radius:12px;
		-o-border-radius:12px;
		-ms-border-radius:12px;
		-webkit-border-radius:12px;
		-moz-border-radius:12px;
	animation-name:f_fadeG;
		-o-animation-name:f_fadeG;
		-ms-animation-name:f_fadeG;
		-webkit-animation-name:f_fadeG;
		-moz-animation-name:f_fadeG;
	animation-duration:1.2s;
		-o-animation-duration:1.2s;
		-ms-animation-duration:1.2s;
		-webkit-animation-duration:1.2s;
		-moz-animation-duration:1.2s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
}

#frotateG_01{
	left:0;
	top:51px;
	animation-delay:0.45s;
		-o-animation-delay:0.45s;
		-ms-animation-delay:0.45s;
		-webkit-animation-delay:0.45s;
		-moz-animation-delay:0.45s;
}

#frotateG_02{
	left:15px;
	top:15px;
	animation-delay:0.6s;
		-o-animation-delay:0.6s;
		-ms-animation-delay:0.6s;
		-webkit-animation-delay:0.6s;
		-moz-animation-delay:0.6s;
}

#frotateG_03{
	left:51px;
	top:0;
	animation-delay:0.75s;
		-o-animation-delay:0.75s;
		-ms-animation-delay:0.75s;
		-webkit-animation-delay:0.75s;
		-moz-animation-delay:0.75s;
}

#frotateG_04{
	right:15px;
	top:15px;
	animation-delay:0.9s;
		-o-animation-delay:0.9s;
		-ms-animation-delay:0.9s;
		-webkit-animation-delay:0.9s;
		-moz-animation-delay:0.9s;
}

#frotateG_05{
	right:0;
	top:51px;
	animation-delay:1.05s;
		-o-animation-delay:1.05s;
		-ms-animation-delay:1.05s;
		-webkit-animation-delay:1.05s;
		-moz-animation-delay:1.05s;
}

#frotateG_06{
	right:15px;
	bottom:15px;
	animation-delay:1.2s;
		-o-animation-delay:1.2s;
		-ms-animation-delay:1.2s;
		-webkit-animation-delay:1.2s;
		-moz-animation-delay:1.2s;
}

#frotateG_07{
	left:51px;
	bottom:0;
	animation-delay:1.35s;
		-o-animation-delay:1.35s;
		-ms-animation-delay:1.35s;
		-webkit-animation-delay:1.35s;
		-moz-animation-delay:1.35s;
}

#frotateG_08{
	left:15px;
	bottom:15px;
	animation-delay:1.5s;
		-o-animation-delay:1.5s;
		-ms-animation-delay:1.5s;
		-webkit-animation-delay:1.5s;
		-moz-animation-delay:1.5s;
}



@keyframes f_fadeG{
	0%{
		background-color:rgb(97,183,230);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-o-keyframes f_fadeG{
	0%{
		background-color:rgb(97,183,230);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-ms-keyframes f_fadeG{
	0%{
		background-color:rgb(97,183,230);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-webkit-keyframes f_fadeG{
	0%{
		background-color:rgb(97,183,230);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-moz-keyframes f_fadeG{
	0%{
		background-color:rgb(97,183,230);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

/** *******      ******* **/

.timesheet-name {
	font: 20px arial,Tahoma,sans-serif;
	font-weight: bold;
/* 	text-transform: uppercase; */
	position: relative;
	top: -20px;
}

.center-align-div {
	width: 100%;
	text-align: center;
	margin: 0px;
	padding: 0px;
}

.curr-filter {
	display: inline;
}

.text-search {
	font-weight: normal;
}

.table-no-border {
	border-spacing: 0px;
	border: 0px;
}

.table-no-border > td {
	padding: 0px;
}

.wrap_image_center {
	border: 0px;
}

.img-select {
	z-index: 1000;
}

.img-unselect {
	z-index: 1000;
}

.select_all_title {
	font-size: 14px;
}

.filter-text-type {
	width: 6em;
	height: 22px;
}

.filter-select-type {
	width: 7em;
	height: 22px;
}

.load-filter-text-type {
	width: 6em;
	height: 22px;
}

.load-filter-select-type {
	width: 7em;
	height: 22px;
}

.force-status-type {
	width: 4em;
	height: 22px;
}

#file-to-upload-id {
	color: #337ab7;
	height: 2em;
	font-size: 11px;
	float: right;
	margin-right: 1em;
	padding-top: 1em;
}

.fmwk-div-hide {
	display: none;
}

.audit-trail-anchor {
	white-space: nowrap;
}

.details-anchor {
	white-space: nowrap;
}

#content-tab-id td {
	white-space: nowrap;
}

#content-tab-id th {
	white-space: nowrap;
}

#btn-add-upload-file-id {
	float: right;
	margin-right: 1em;
}

#btn-cancel-upload-file-id {
	float: right;
	margin-right: 1em;
}

#btn-start-upload-file-id {
	float: right;
	margin-right: 1em;
}

.thead-responsive-no-top {
	position: relative;
	z-index: 100;
	top: 0px;
	left: 1px;
}

.no-thick-div {
	border: 0px;
	padding: 0px;
	margin: 0px;
}

.modal-title {
	text-align: center;
}

.modal-header {
	color: white;
	background-color: #F4C933;
	border-radius: 6px 6px 0px 0px;
/* 	background-color: #F3E063; */
}

.modal-footer {
	color: white;
	background-color: #F4C933;
	border-radius: 0px 0px 6px 6px;
/* 	background-color: #F3E063; */
}

.modal-title {
	font-family: Arial, Tahoma, Sans-Serif;
	font-size: 18px;
	font-weight: 600;
}

.modal-body {
	width: 95%;
	overflow-x: auto;
	margin-left: 1em;
}

.modal-dialog {
    overflow-x: initial !important;
}

.input-group-addon {
	background-color: #F6F6F6;
}

.input_hours {
	width: 3em;
	size: 3em;
	text-align: center;
}

.search-header {
/* 	color: white; */
/* 	background-color: #6495ED; */
}

/* .modal-body > table { */
/* 	background-color: white; */
/* } */

/* .modal-content { */
/* 	background-color: #F3E063; */
/* } */
