	
	<div id="sidebar-content">
		<ul class="sidebar-nav">
		<% 	_.each(menuItemList, function(menuItem) { 
				if (menuItem.level >= 1) { %>
					<li class="menu-item menu-<%= menuItem.level %>-level <%= menuItem.type %> item-closed" data-id="<%= menuItem.id %>" data-label="<%= menuItem.label %>" style="display: none;">
			            <a href="javascript: void(0);"><%= menuItem.label %></a>
			        </li>
		<%		}
				else { %>
					<li class="menu-item menu-<%= menuItem.level %>-level <%= menuItem.type %> item-closed" data-id="<%= menuItem.id %>" data-label="<%= menuItem.label %>">
			            <a href="javascript: void(0);"><%= menuItem.label %></a>
			        </li>
		<% 		}
			}); %>
	    </ul>
	</div>