/*!
 * Start Bootstrap - Simple Sidebar (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

 body {
    overflow-x: hidden;
 }

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
/*     padding-left: 250px; */
    padding-left: 300px;
}

#sidebar-wrapper {
    z-index: 1000;
    
/*     position: fixed; */
    position: absolute;
    
/*     left: 250px; */
	left: 300px;
    width: 0;
    
/*     height: 100%; */
    height: 90%;
    
/*     margin-left: -250px; */
    margin-left: -300px;
    overflow-y: auto;
    
    /* aggiunta */
	overflow-x: hidden;
	
/*     background: #000; */
/* 	background: white; */
	
	/* aggiunta */
	margin-top: 0px;
    
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
/*     width: 250px; */
    width: 300px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    margin-left: -20px;
/*     margin-top: -15px; */
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
/*     margin-right: -250px; */
    margin-right: -300px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0px;
/*     width: 250px; */
    width: 300px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 10px;
/*     line-height: 40px; */
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
/*     color: #999999; */
	color: white;
	background-color: #337ab7;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
/*     background: rgba(255,255,255,0.2); */
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
/*     height: 65px; */
/*     font-size: 18px; */
/*     line-height: 60px; */
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
/*     background: none; */
}

@media(min-width:768px) {
    #wrapper {
/*         padding-left: 250px; */
	padding-left: 300px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
/*         width: 250px; */
        width: 300px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

/* Customizzazioni */

#sidebar-wrapper li {
	height: 1.4em;
	margin-bottom: 0px;
	padding-bottom: 0px;
	border-bottom: 0px;
	margin-top: 2px;
}

#sidebar-wrapper li a {
	color: white;
	background-color: #337ab7;
	border-top-width: 0px;
	border-left-width: 0px;
	border-bottom-width: 0px;
	border-right-width: 4px;
	border-style: solid;
	border-color: white;
	font-family: Arial, Tahoma, Sans-Serif;
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

#sidebar-wrapper li.menu-0-level a {
	color: white;
	background-color: #337ab7;
	text-indent: 1em;
}

#sidebar-wrapper li.menu-1-level a {
	color: white;
	background-color: #F4C933;
	text-indent: 2em;
}

#sidebar-wrapper li.menu-2-level a {
	color: white;
	background-color: #F3E063;
	text-indent: 3em;
}

#sidebar-wrapper li.menu-3-level a {
	color: #337AB7;
	background-color: #F6F6F6;
	text-indent: 4em;
}
